@SYSTEM_TITLE
LOADGLOBAL
CALLF ANIME_CONFIG("SET", GLOBAL)
SAVEGLOBAL
LOADGLOBAL

REDRAW 0
CLEARLINE 1
RESULT  = 1
LOCAL:2 = LINECOUNT

DO
	FOR LOCAL:1, 0, 126
		CLEARLINE LINECOUNT - LOCAL:2
		
		GETFONT
		;タイトル画像表示
		;HTML_PRINT "<p align='center'><img src='XXX_タイトル' height='2500'></p>"
		FOR LOCAL , 0 , 24
			PRINTL 
		NEXT
		SETFONT RESULTS:0
		
		$START
		ALIGNMENT CENTER
		CUSTOMDRAWLINE ━
		;DRAWLINE
		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>%HTMLSTYLE(@"%GAMEBASE_TITLE%", 2)%</b>", "Courier New", )%")
		{
		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>ver{GAMEBASE_VERSION / 1000}.{GAMEBASE_VERSION % 1000 / 100}." + 
		@"{GAMEBASE_VERSION % 100 / 10}{GAMEBASE_VERSION % 10 / 1}</b>", "Courier New")%")
		}
		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>%HTMLSTYLE(@"%GAMEBASE_AUTHOR%", 2)%</b>", "Courier New")%")
		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>(%GAMEBASE_YEAR%)</b>", "Courier New")%")
		PRINTL
		PRINTFORML %GAMEBASE_INFO%
		CUSTOMDRAWLINE ━
		CALL HTMLPRINTL(@"%HTMLBUTTON("[0]  ＮＥＷ ＧＡＭＥ", "0", "あたらしくはじめる")%")
		CALL HTMLPRINTL(@"%HTMLBUTTON(" [1] ＬＯＡＤ ＧＡＭＥ", "1", "データをロードします")%")
		;CALL HTMLPRINTL(@"%HTMLBUTTON(" [2]     ＩＮＦＯ     ", "2", "更新内容を表示します")%")
		;CALL HTMLPRINTL(@"%HTMLBUTTON(" [3]   ＣＲＥＤＩＴ   ", "3", "クレジットを表示します")%")
		ALIGNMENT LEFT
		CALL INPUTINT(0, 1)
		CUSTOMDRAWLINE ━
		SELECTCASE RESULT
			CASE 0
				RESETDATA
				ADDCHARA 0
				BEGIN FIRST
			CASE 1
				;CALL TITLE_LOADGAME
				LOADGAME
				;BEGIN TITLE
			;CASE 2
			;	CALL TITLE_INFO
			;	BEGIN TITLE
			;CASE 3
			;	CALL CREDIT_TITLE
		ENDSELECT
		GOTO START
	NEXT
LOOP RESULT
REDRAW 1
